<a href="https://colab.research.google.com/github/ishpreet09/Practical-IterativeStatement/blob/master/Practical_Iterative_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program 1:

To print a table of a number using "for" loop.

In [ ]:
number=int(input("Enter a number to show it's multiplication table: "))
for count in range(0,10):
  print(number, "x", count, "=", number *count)

Enter a number to show it's multiplication table: 9
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

Program 2:

To print the sum of all the even numbers in the range entered by the user.

In [ ]:
start=int(input("Enter the start of range:"))
end=int(input("Enter the end of range:"))

list_of_even_numbers=[]
for num in range(start, end+1):
  if num % 2 ==0:
    list_of_even_numbers.append(num)

print("Sum of the even numbers in the range is", sum(list_of_even_numbers))

Enter the start of range:2
Enter the end of range:6
Sum of the even numbers in the range is 12

Program 3:

To print the odd numbers between 1 to 30

In [ ]:
list_of_odd_numbers=[]
for num in range(1,31):
  if not num % 2 ==0:
    list_of_odd_numbers.append(num)

print(list_of_odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

Program 4:

To print the elements of the given list using the 'for' loop:

List=[56, 22, 67, 51, 64]

In [ ]:
list=[56, 22, 67, 51, 64]

for num in list:
  print(num)

56
22
67
51
64